.menu{
	overflow: hidden;
    background-color: rgb(17, 115, 212);
    position: fixed; 
    top: 0; 
    width: 100%;
}

.menu a{
	float: left;
    display: block;
    color: black;
	font-size:16pt;
	font-family:Verdana;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

body {
    background-position: center;

}

.box{
	width:100%;
	height:600px;
	background-color:grey;
	padding-top:50px;
	margin-bottom:5px;
	

}

slideshow-container{
	width: 100%;
	height: 650px;
	margin: 0;
	padding: 0;
	position: relative;
	overflow:hidden;
	margin-left: auto;
	margin-right:auto;
}

}
.slidePhoto{
	max-width: 100%;
	height: 100%;
	position:absolute;
}



		.istorija{
	background-color: rgb(17, 115, 212);
	max-width: 1400px;
	margin: 40px auto 0 auto;
	line-height:1.65;
	padding:20px 50px;
	
}

@media(min-width: 900px){
	.istorija{
	display:flex;
	justify-content: sapce-between;
	flex-wrap: wrap;
	}
}

.istorija-track{
	padding:20px;
	box-sizing: border-box;
	margin: 20px;
	flex:2;
}


.istorija-info-container{
	max-width:100%;
	margin:0 auto;
	flex:1;
	display:flex;
	flex-direction: column;

}


.info-photo{
	flex:0.5;
	margin:0 auto;
}

.info{
	text-color:white;
	flex:1;
	margin:0;
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

a .round:hover {
    background-color: yellow;
    color: black;
}

#prev {
    background-color: white;
    color:rgb(17, 115, 212);
}



#next {
    background-color: white;
    color: rgb(17, 115, 212);
}

.round {
    border-radius: 50%;
}
.calendar{
	font-family: Verdana, sans-serif;
	height:100%;
}

ul {
list-style-type: none;
}

.month {
    padding: 70px 25px;
    width: 100%;
    background-color: rgb(212, 17, 17);
}

.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.month .prev {
    float: left;
    padding-top: 10px;
}

.month .next {
    float: right;
    padding-top: 10px;
}

.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}


.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:16px;
    color:#777;
}


.days li .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important
}


.fa {
padding: 20px;
font-size: 30px;
width: 50px;
text-align: center;
text-decoration: none;
margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}








